﻿<%@ Page Language="C#" MasterPageFile="Admin_master.Master" AutoEventWireup="true" 
CodeBehind="temp.aspx.cs" Inherits="bdmirror24.User.temp" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content runat="server" ContentPlaceHolderID="head" ID="idhead">
</asp:Content>
<asp:Content ID="idcnt" ContentPlaceHolderID="cphBody" runat="server">
</asp:Content>