﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="advlist.aspx.cs" Inherits="bdmirror24.advlist" MasterPageFile="~/bdmirror.Master" 
Title="Advertisement Rates || Bdmirror24.com" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <meta name="description" content="Advertisement List of BDmirror24.com." />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="page-header row-fluid">
        <h1>
            Advertisement <small>
                Rates</small></h1>
        <br />
    </div>
    <div class="row-fluid">
        <!--page body -->
        <div class="span12">
            <!--span8 start-->
        
            <!--thumbnails news endt-->
        <img src="http://www.bdmirror24.com/img/advertisementchrt.jpg" />
    <br />
    </div>
</asp:Content>
