﻿<%@ Page Language="C#" Title="Library --  Bdmirror24" MasterPageFile="~/bdmirror.Master" AutoEventWireup="true" 
CodeBehind="library.aspx.cs" Inherits="bdmirror24.library" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


 </asp:Content>
 <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   <div class="page-header">
        <h1>
            News <small>
                <asp:Label ID="lblcat" runat="server" Text=""></asp:Label>
            </small>
        </h1>
        <br />
    </div>
    <div class="row-fluid">
        <!--page body -->
        <div class="span8">
            <!--span8 start-->
            <div>
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="news_content">
                            <div class="hero-unit">
                                <div class="well">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
               <!-- grid here--->
                 <div class="thumbnails">
                 asdasdasd
                 </div>
            </div>
            <!--thumbnails news endt-->
        </div>
        <!--span8 end-->
        <div class="span4">
            <!--span4 start-->
            <div class="well">
                <h4>
                    Top News</h4>
                <ul>
                    <asp:Repeater ID="rpttopnews" DataSourceID="dsstop" runat="server" OnItemDataBound="rpttop_bound">
                        <ItemTemplate>
                            <li>
                                <asp:HyperLink ID="hpltoptitle" runat="server"></asp:HyperLink></li>
                        </ItemTemplate>
                        <FooterTemplate>
                            <asp:Label ID="lbltopfooter" Text="No Category are there to display" runat="server"
                                Visible="false">
                            </asp:Label>
                        </FooterTemplate>
                    </asp:Repeater>
                    <asp:SqlDataSource ID="dsstop" runat="server" ProviderName="System.Data.Odbc" ConnectionString="<%$ ConnectionStrings:bdMirrorDB %>">
                    </asp:SqlDataSource>
                    <%--                    <li><a href="detail.php?nid=1&amp;cid=1">Syrian jets bomb rebel bases near Turkey border</a></li>
                    <li><a href="detail.php?nid=3&amp;cid=1">Explosives found under car of prominent Pakistanijournalist
                        Explosives fdhdh</a></li>
                    <li><a href="detail.php?nid=5&amp;cid=2">CYCLE RALLYorganized to raise voice against
                        War Criminals</a></li>
                    <li><a href="detail.php?nid=36&amp;cid=2">Ctg flyover gets new project director</a></li>
                    <li><a href="detail.php?nid=47&amp;cid=6">Marines establish first operational squad
                        of F-35 fighters</a></li>--%>
                </ul>
            </div>
        </div>
        <!--span4 end-->
    </div>
    <!--page end-->
    <br />
 </asp:Content>