﻿<%@ Page Language="C#"  AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="bdmirror24.Test" MasterPageFile="~/bdmirror.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <meta name="description" content="All the tv channels for watching Cricket." />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="updtpnl" runat="server">
        <ContentTemplate>
            <asp:Button runat="server" Text="Button" onclick="btn_click" />
            <asp:Label runat="server" ID="lblsdaad" Text="saad" Visible="false"  ></asp:Label>
            </ContentTemplate>
        </asp:UpdatePanel>
    <%--<div class="page-header row-fluid">
        <h1>
            Live <small>
                Cricket</small></h1>
        <br />
    </div>
    <div class="row-fluid">
        <!--page body -->
        <div class="span8">
            <!--span8 start-->
        
            <!--thumbnails news endt-->
        </div>
        <!--span8 end-->
        <div class="span4">
            <!--span4 start-->
            <div class="well">
                <h4>
                    Top News</h4>
                <ul>
                    <li><a href="detail.php?nid=1&amp;cid=1">Syrian jets bomb rebel bases near Turkey border</a></li>
                    <li><a href="detail.php?nid=3&amp;cid=1">Explosives found under car of prominent Pakistanijournalist Explosives fdhdh</a></li>
                    <li><a href="detail.php?nid=5&amp;cid=2">CYCLE RALLYorganized to raise voice against War Criminals</a></li>
                    <li><a href="detail.php?nid=36&amp;cid=2">Ctg flyover gets new project director</a></li>
                    <li><a href="detail.php?nid=47&amp;cid=6">Marines establish first operational squad of F-35 fighters</a></li>
                </ul>
            </div>
        </div>
        <!--span4 end-->
    </div>--%>
    <!--page end-->
    <%--<br />
    </div>--%>
</asp:Content>
