﻿@charset "UTF-8";
/**
 * Stylesheet: example_jquerytools.css
 *
 * (c) 2011-2012 Zazar Ltd
 * 
 * Description: Example stylesheet using zWeatherFeed with jQuery Tools
 *
 **/

body {
	margin: 1em 3em;
	font-family: Tahoma, Genevam, sans-serif;
}

.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 2em 3em;
	width: 280px;
	color: #ccc;
}
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
	color: #eee;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { text-transform: uppercase; color: #000;
    padding-bottom:7px;}
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
	color: #eee;
}
.weatherDesc, .weatherCity { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; color: #eee; }
.weatherRange, .weatherWind { font-size: 0.8em; }
.weatherLink {
	margin-top: 6px;
	text-align: left;
	font-size: 0.8em;
}

.vertical {  
	position:relative;
	overflow:hidden;	
	height: 160px;	 
	width: auto;
	border: 4px solid #555;
	background: #222 url('../img/weather_bg.jpg') repeat-x;
}

.items {
	position:absolute;
	height:20000em;	
	margin: 0px;
}
.items div.weatherItem { height: 160px; }

.navi {
	width:288px;
	height:20px;
   
}
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background: url('../img/weather_navigator.png') 0 0 no-repeat;
	display:block;
	font-size:1px;
}
.navi a:hover { background-position:0 -8px; }
.navi a.active { background-position:0 -16px; }
