﻿.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
.popupNews
{
	width: 950px;
	height: 382px;
	background-color: #FFF;
}
.popup_Container
{
    background-color: #FFF;
    border: 1px solid #e6EEEE;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    z-index: 9999;
}

.popupConfirmation
{
	width: 1183px;
	height: 587px;
}

.popupRegDoctor
{
	width: 990px;
	height: 618px;
	background-color: #FFF;
}

.popupDoctor
{
	width: 990px;
	height: 468px;
	background-color: #FFF;
}

.popupHospital
{
	width: 1090px;
	height: 508px;
	background-color: #FFF;
}

.popupAppointment
{
	width: 870px;
	height: 558px;
	background-color: #FFF;
}

.popupRegistration
{
	width: 870px;
	height: 528px;
	background-color: #FFF;
}

.popup_Titlebar
{
    font-family: arial;
    background-color: #0070B2;
    margin: -1px -1px 0px;
    font-size: 8pt;
    text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border: 1px solid #e6EEEE;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    height: 29px;
}
.frameborder
{
      border: 1px solid #FFD700; 
}
.popup_Body
{
	background-color: #FFF;
	font-family:Arial;
	color:#000000;
	line-height:15pt;
	clear:both;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight
{
    background: url('../Images/x.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 29px;
    width: 25px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 2px;
}

.popup_Buttons
{
  display:block;
  position: relative; 
  clear:both;
  margin: 3px 0px 10px 0;   
  border: 1px solid #CCC;
  padding: 5px;    
  color:  #5A5655;   
  background-color:   #F8F8F8;
  height:28px;
  text-align:left;
  overflow:auto;    
  z-index:88; 
  -webkit-border-radius: 8px;
  -moz-border-radius  : 8px;
}

.popup_Buttons .button {
    CURSOR: hand;
	background-color: #efefef;
    display:block;
    float:right;
    margin:0 3px 0 3px;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Arial, Verdana, Helvetica, sans-serif;
    width:100px;
    border: 1px solid #996600;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.popup_Buttons .button:hover
{
	background: #19475a no-repeat 50% 0;
	color: #fff;
	CURSOR: hand;
	text-decoration: none;
}

.loader
{
    float: left;
    margin: 2px 0 0 2px;
    padding: 540px 10px 8px 740px;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    color: #5A5655;
    background: #FFF url('../feedback/images/ajax-loader.gif') no-repeat 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 998888;
}


.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}
.backlighter
{
    background: #FFFFFF;
}