﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadEngine.aspx.cs" Inherits="bdmirror24.User.Uploads.UploadEngine"
EnableSessionState="ReadOnly" Async="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link href="CSS/ThemeBlue.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <form id="form" runat="server" enctype="multipart/form-data">
    <asp:ScriptManager ID="scriptManager" runat="server" />
    <script type="text/javascript">
        function pageLoad(sender, args) {
            //Register the form and upload elements
            window.parent.register(
                $get('<%= this.form.ClientID %>'),
                $get('<%= this.fileUpload.ClientID %>')
            );
        }
    </script>
    <asp:FileUpload ID="fileUpload" runat="server" />
    </form>
</body>
</html>
